* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: white;
    -webkit-font-smoothing: antialiased;
    /* overflow: hidden; */
    overflow-x: hidden;
}

body,
input,
button {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'roboto', sans-serif;
    color: #2d4059;
}

a,
p {
    font-family: 'open-sans', sans-serif;
}

button {
    cursor: pointer;
}

li,
a,
ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    color: #CFCFCF;
}

a:hover {
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1200px;
}


/********* Top NavBar Section *******/

.header {
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    transition: transform .2s linear;
}

.top_nav_bar {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: .85em 0;
    border-bottom: 1px solid #eee;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}

.nav_links {
    display: flex;
    text-align: left;
}

.nav_links li {
    margin-right: 20px;
}

.nav_links li a {
    color: #CFCFCF;
}

.nav_links li a:hover {
    text-decoration: none;
    color: #ff7171;
}

.nav_links li.sign a {
    color: black;
}


/************* Bottom NavBar Section ***********/

.bottom_nav_bar {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 190px;
}

.nav-directions {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin-right: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 4.8;
}

.nav-list li a {
    color: #7C7C7C;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-list li a:hover {
    text-decoration: none;
    color: #ff7171;
}

#intro {
    margin: auto;
    width: 100%;
    background-color: #ff7171;
    padding: 6.75rem 1.5rem 6.9rem;
}

.intro_text {
    width: 90%;
    margin: auto;
    text-align: center;
}

.intro_text h1 {
    text-transform: uppercase;
    font-size: 2.875rem;
    color: #fff;
}

.intro_text h3 {
    color: #fff;
    font-size: 1.125rem;
}


/*********** Cards Section *********/

#cards {
    margin: 40px auto;
    border: none;
}

.card-body {
    border: none;
}

.card-body h5 {
    color: #2d4059;
}

.card-body p {
    color: #666666;
}

.card-body a {
    color: #ff7171;
    font-size: 1.1rem;
}

.card-body a:hover {
    color: #846d6d;
    text-decoration: none;
}

.card-text {
    margin-bottom: 12px;
    font-size: 13px;
}


/************ Services Section ***********/

.marketing {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.marketing-image {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketing-image svg {
    width: 53%;
    border-radius: 50%;
    width: 20%;
    fill: white;
    padding: .75rem .8rem;
    border: 1px solid #ff7171;
    background-color: #ff7171;
}

.marketing-image svg:hover {
    fill: #ff7171;
    background-color: white;
    border: 1px solid #ff7171;
}

.marketing-note {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.marketing-note p {
    text-align: center;
    width: 90%;
    margin: auto;
    line-height: 1.6;
    font-size: 14px;
}

.marketing-note h3 {
    text-align: center;
    margin: 0 auto 12px;
    color: #2d4059;
}

.marketing-btn {
    border-radius: 28px;
    border: 1px solid #ff7171;
    display: inline-block;
    cursor: pointer;
    color: #ff7171;
    font-family: Arial;
    font-size: 16px;
    padding: 16px 58px;
    text-decoration: none;
    background-color: white;
    margin-top: 20px;
}

.marketing-btn:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    background-color: #ff7171;
}

.marketing-btn:active {
    position: relative;
    top: 1px;
}