* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: white;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

body,
input,
button {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'roboto', sans-serif;
    color: #2d4059;
}

a,
p {
    font-family: 'open-sans', sans-serif;
}

button {
    cursor: pointer;
}

li,
a,
ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    color: #CFCFCF;
}

a:hover {
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1200px;
}


/********* Top NavBar Section *******/

.header {
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    transition: transform .2s linear;
}

.top_nav_bar {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: .85em 0;
    border-bottom: 1px solid #eee;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}

.nav_links {
    display: flex;
    text-align: left;
}

.nav_links li {
    margin-right: 20px;
}

.nav_links li a {
    color: #CFCFCF;
}

.nav_links li a:hover {
    text-decoration: none;
    color: #ff7171;
}

.nav_links li.sign a {
    color: black;
}


/************* Bottom NavBar Section ***********/

.bottom_nav_bar {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 190px;
}

.nav-list {
    display: flex;
    justify-content: center;
    width: 45%;
    height: 8vh;
    align-items: center;
    /* overflow-x: hidden; */
}

.nav-list li {
    margin-right: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 4.8;
}

.nav-list li a {
    color: #7C7C7C;
    font-size: .875rem;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}

.nav-list li a:hover {
    text-decoration: none;
}

.burger {
    display: none;
    margin: auto 0;
    cursor: pointer;
}

.burger div {
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.599);
    width: 25px;
    height: 3px;
}


/* @media screen and (max-width: 700px) {
    .nav-list {
        width: 25%;
        overflow-x: hidden;
    }
} */

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        right: 0;
        height: 40vh;
        top: 20vh;
        background-color: #ff7171;
        flex-direction: column;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        justify-content: space-around;
        z-index: 1;
        overflow-x: hidden;
    }
    .nav-list li a {
        color: rgb(228, 224, 224);
    }
    .burger {
        display: block;
    }
}

.nav-active {
    /* overflow-x: hidden; */
    transform: translateX(0);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: #ff7171;
}

.toggle .line2 {
    background-color: #ff7171;
    opacity: 0;
}

.toggle .line3 {
    background-color: #ff7171;
    transform: rotate(45deg) translate(-5px, -6px);
}

.row,
.container {
    margin: auto;
}


/********* Contact Section ********/

#contact {
    margin: 100px auto;
}

.card {
    border: 1px solid #ff7171;
}

.header-text {
    background: #ff7171;
}

.header-text h3 {
    color: white;
}

.submit {
    background-color: #ff7171;
}

.text-center a input .submit {
    color: white;
}

.text-center a {
    color: white;
}

.text-center a:hover {
    color: white;
    text-decoration: none;
}

.button {
    color: white;
    background-color: #ff7171;
}

a {
    color: white;
}

.button a {
    color: white;
}